@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.smallpara{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: blue;
    opacity: .7;
    max-width: 170px;
    width: 180px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    padding-left: 5px;
}
/* .subdiv{
    display: inline-block;
} */
.editer{
    color: blue;
}
.dbut{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 35px;
    font-size: 10px;
    width: 70px;
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 3px;
    border: none;
}
.tempclass{
    color: rgb(55, 189, 90);
}